h1 {
  font-size: 5em;
  font-family: "Parisienne", cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.photo-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Réduire la marge du bas entre les éléments .photo-text */
}

.flex-reverse {
  flex-direction: row-reverse;
}

img {
  width: 50%;
  height: 50%;
  object-fit: cover; /* Ajuste l'image en conservant son ratio tout en couvrant complètement le conteneur */
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background-color: #ffc0cb; /* Code couleur rose */
  margin: 0; /* Supprimer la marge par défaut du corps */
  padding: 20px; /* Ajouter un espacement autour du contenu */
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em; /* Reduire la taille du titre h1 pour les petits écrans */
  }

  .photo-text {
    flex-direction: column; /* Changer la direction de la flexbox à colonne pour les petits écrans */
  }

  img {
    width: 100%; /* Utiliser la largeur complète pour les images sur les petits écrans */
    height: auto; /* Ajuster automatiquement la hauteur pour conserver le ratio */
    margin-left: 0;
    margin-right: 0;
  }
}
