<body>
  <div class="container">
    <h1>Bienvenue dans le monde de Kirby</h1>

    <h3>
      Bonjour/Bonsoir, je m'excuse d'avance des fautes commises, et pour
      l'esthétique, je n'ai qu'une heure devant moi pour la conception de ce
      "site" donc je n'ai pas vraiment le temps de m'attarder sur certaines
      choses. Sinon vous pouvez m'appelez X, et je serez votre guide à travers
      la redécouverte de cette petite boule rose d'un mètre 60 (et encore), que
      j'appelle Kirby, ou FF pour la plus part des gens
    </h3>

    <div
      *ngFor="let item of photos"
      class="photo-text"
      [ngClass]="{ 'flex-reverse': photos.indexOf(item) % 2 !== 0 }"
    >
      <img [src]="item.url" alt="Kirby" />
      <p>{{ item.title }}</p>
    </div>
  </div>
</body>
